:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
span {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.page-header {
  background-color: var(--primary-white-color);
}
.page-header .logo {
  color: var(--titel-text-color);
  text-decoration: none;
}

/* site-nav */

.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* auth-nav */

.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

/* hero */

.hero-titel {
  color: var(--primary-white-color);
}

/* section */

.section {
  background-color: var(--primary-white-color);
}
.section-titel {
  color: var(--titel-text-color);
}
.section-titel-goust {
  color: rgba(0, 0, 0, 0);
}
.section-filter-titel {
  color: rgba(0, 0, 0, 0);
}

/* features */

.feature .list {
  list-style: none;
}
.feature .titel {
  color: var(--titel-text-color);
}
.work .list {
  list-style: none;
}
.team .list {
  list-style: none;
}
.filter .list {
  list-style: none;
}
.team .titel {
  color: var(--titel-text-color);
}

/* works */
.works .titel {
  color: var(--titel-text-color);
}

/* Button */

.mainbutton {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.filter .filters {
  background-color: #f5f4fa;
  color: var(--titel-text-color);
}

.filter .filters:hover,
.filter .filters:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: #2f303a;
  color: var(--primary-text-color);
}
.footer .logo {
  color: var(--primary-white-color);
  text-decoration: none;
}
.footer .comp-address {
  color: var(--primary-white-color);
  text-decoration: none;
}
.footer .list {
  list-style: none;
  font-style: normal;
}
.footer .link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.footer .comp-address:hover,
.footer .comp-address:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
